.result {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    padding: .5rem;
    // background-color: $color-primary;
    width:100%;
    // height:80vh;
    position: relative;
    top:20%;
    left:50%;
    transform: translate(-50%,0);
    transition: all .8s;
}

.resultcard {
    min-height: 300px;
    width: 30%;
    margin: 1.5%;
    background-color: var(--color-white-dark);
    position: relative;
    transition: all .3s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.5);
        
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 3rem rgba(0,0,0, .3);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 2rem rgba(0,0,0, .3);
    }
    &__img {
        width: 90%;
        height: 150px;
        display: inline-block;
        margin: 1rem 5%;
    }

    &__heading {
        padding: 0 2rem 0 2rem;
        font-size: 2rem;
    }

    &__source {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        text-align: right;
        padding: 2rem;
    }
}

.active {
    color:var(--color-primary);
}