<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Digital</title>
        <script src="{% static 'js/bundle.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
        <script src="{% static 'js/map.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <input type="checkbox" id="nav">
        <div class="content">
            <div class="nav">
                <div class="nav__list">
                    <a href="{% url 'app:calamity' %}"><div class="nav__list--item">Current</div></a>
                    <a href="{% url 'app:provisions' %}"><div class="nav__list--item">Provisions</div></a>
                    <a href="{% url 'app:map' %}"><div class="nav__list--item">Map</div></a>
                    <a href="#"><div class="nav__list--item">Report</div></a>
                    <a href="#"><div class="nav__list--item">Donate</div></a>
                </div>
            </div>
            <div class="page-wrap">
                <label for="nav">☰</label>
            {% block body_block %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>