{% extends 'app/base.html' %}

{% block body_block %}
<div class="pc-tab">
        <input id="tab1" type="radio" name="pct" />
        <input id="tab2" type="radio" name="pct" checked/>
        <input id="tab3" type="radio" name="pct" />
        <nav>
            <ul>
                <li class="tab1">
                    <label for="tab1" style="display: none;">High</label>
                </li>
                <li class="tab2">
                    <label for="tab2">Current</label>
                </li>
                <li class="tab3">
                    <label for="tab3">Contact</label>
                </li>
            </ul>
        </nav>
        <section>
            <div class="tab1 tab">
                High
            </div>
            <div class="tab2 tab">
                <div class="cardcontainer">
                    {% for x in list %}
                    <div class="card">
                        <div class="card__head">{{ x.0 }}</div><br>
                        <div class="card__sub"> {{ x.2 }}</div><br>
                        <div class="card__sub">{{ x.3 }}</div>
                        <div class="card__sub">{{ x.1 }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab3 tab">
                <div class="cardcontainer">
                    <div class="card" xstyle="background: #dd9554;">
                        <div class="card__head">Police</div>
                        <i class="fa fa-user-secret" style="font-size: 3.5rem"></i>
                        <div class="card__sub">Contact: <a href="callto:02226479372">022 2647 9372</a></div>
                    </div>
                    <div class="card" xstyle="background: #e24a44">
                        <div class="card__head">Fire</div>
                        <i class="fa fa-fire-extinguisher" style="font-size: 3.5rem"></i>
                        <div class="card__sub">Contact: <a href="callto:02226435206">022 2643 5206</a></div>
                    </div>
                    <div class="card" xstyle="background: #7777ff">
                        <div class="card__head">Ambulance</div>
                        <i class="fa fa-ambulance" style="font-size: 3.5rem"></i>
                        <div class="card__sub">Contact: <a href="callto:02224376568">022 2437 6568</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}