{% extends 'app/base.html' %}

{% block body_block %}
<div class="tab">
    <input type="radio" id="tab1" name="tab" checked>
    <input type="radio" id="tab2" name="tab">
    <input type="radio" id="tab3" name="tab">
    <div class="tab__nav">
        <label for="tab1">High</label>
        <label for="tab2">Medium</label>
        <label for="tab3">Low</label>
    </div>
    <div class="tab__data1 tab__data">
        <div class="card">
            <div class="card__content">
                <div class="card__content--head">Fire at building</div>
                <div class="card__content--sub">0.5km</div>
            </div>
        </div>
        <div class="card">
            <div class="card__content">
                <div class="card__content--head">Fire at building</div>
                <div class="card__content--sub">0.5km</div>
            </div>
        </div>
    </div>
    <div class="tab__data2 tab__data">
        <div class="card">
            <div class="card__content">
                <div class="card__content--head">Fire at building</div>
                <div class="card__content--sub">0.5km</div>
            </div>
        </div>
    </div>
    <div class="tab__data3 tab__data">
        <div class="card">
            <div class="card__content">
                <div class="card__content--head">Fire at building</div>
                <div class="card__content--sub">0.5km</div>
            </div>
        </div>
        <div class="card">
            <div class="card__content">
                <div class="card__content--head">Fire at building</div>
                <div class="card__content--sub">0.5km</div>
            </div>
        </div>
        <div class="card">
            <div class="card__content">
                <div class="card__content--head">Fire at building</div>
                <div class="card__content--sub">0.5km</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}